// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/*****************************
    Add All Typography Here
*****************************/

html {
    font-size: 1rem;
}

body {
    font-size: 1em;
    font-family: 'DM Sans';
}