// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.faq-section {
    .section-header {
        text-align: center;
        margin-bottom: 45px;
    }

    &--area {
        .text-box {
            padding: 46px 38px;
            border: 2px solid #01A368;
            box-shadow: 0px 6px 16px rgba(125, 203, 173, 0.1);
            border-radius: 10px;
            margin-bottom: 28px;

            .title {
                font-weight: 500;
                font-size: 22px;
                line-height: 28px;
                color: $black;
                margin-bottom: 18px;
            }
        }

        .que-list {
            li {
                padding: 26px 38px;
                box-shadow: 0px 1px 8px rgba(50, 50, 50, 0.1);
                font-size: 20px;
                line-height: 28px;
                color: #424242;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:not(:last-child) {
                    margin-bottom: 24px;
                }

                i {
                    color: #01A368;
                    padding: 15px;
                    box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
                    border-radius: 50%;

                }
            }
        }
    }
}