// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/*************** Home CSS ***************/

.hero-section {
    &--area {
        display: flex;

        &---content {
            width: 50%;

            .sub-title {
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                color: #01A368;
                margin-bottom: 24px;
            }

            .title {
                font-size: 60px;
                font-weight: 700;
                line-height: 64px;
                color: $darkGreen;
                margin-bottom: 20px;

                span {
                    color: $secondaryColor;
                    font-style: italic;
                }
            }

            p {
                margin-bottom: 25px;
                color: #0A3C23;
                line-height: 25px;
                font-weight: 400;
                font-size: 18px;
            }

            .hero-btn {
                padding: 15px 25px;
            }
        }

        &---image {
            width: 50%;
            display: flex;
            // position: relative;

            .hero-image {
                &-left {
                    transform: translateX(78px);

                    img {
                        height: 100%;
                        object-fit: fill;
                        width: 720px;
                    }
                }

                &-right {
                    img {
                        height: 100%;
                        object-fit: cover;
                        width: 600px;
                    }
                }
            }
        }
    }
}

.service-section {
    position: relative;
    text-align: center;

    .section-header {
        margin-bottom: 25px;
    }

    p {
        font-size: 18px;
        line-height: 28px;
        color: #5B5B5B;
        margin-bottom: 25px;
    }

    .service-btn {
        padding: 17px 24px;
        margin-bottom: 70px;
    }

    &--image {
        .image {
            &-main {
                // top: 0;
                // position: relative;
                // // left: 65px;
                // transform: translate(60px, 0);
            }
        }
    }

    .image {
        position: absolute;
        top: 360px;
        right: 277px;
        z-index: -1;
    }
}

.sale-section {
    &--area {
        .with-header {

            .section-header {
                p {
                    margin-top: 16px;
                    color: #666666;
                    width: 450px;
                    font-size: 18px;
                    line-height: 26px;
                }
            }
        }
    }
}

.sell-section {
    text-align: center;
    position: relative;
    overflow: hidden;

    .image {
        position: absolute;
        top: 0;
        right: -150px;
        z-index: -1;
    }

    .section-header {
        margin-bottom: 45px;
    }

    &--area {
        display: flex;
        margin-bottom: 36px;

        &---left {
            display: flex;
        }

        &---right {
            display: flex;
        }
    }
}

.price-section {
    text-align: center;
    position: relative;

    .image {
        position: absolute;
        top: -47px;
        right: 460px;
        z-index: -1;
    }

    .section-header {
        margin-bottom: 45px;
    }

    .image-bottom {
        position: absolute;
        right: -50px;
        bottom: -180px;
        z-index: -1;
    }
}

.contact-section {
    text-align: center;

    .section-header {
        margin-bottom: 45px;
    }

    .contact-area {
        display: flex;
        gap: 96px;

        &--info {
            width: 50%;
            padding: 40px;
            background-color: #01110B;
            border-radius: 10px;
            text-align: left;

            .title {
                font-weight: 700;
                font-size: 28px;
                line-height: 36px;
                color: $white;
                margin-bottom: 15px;
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 70px;
            }

            .info-list {
                color: $white;
                margin-bottom: 94px;
                display: flex;

                li {
                    i {
                        margin-right: 28px;
                    }

                    &:not(:last-child) {
                        margin-bottom: 40px;
                    }
                }
            }

            .info-social {
                display: flex;
                gap: 24px;

                i {
                    color: $white;
                    padding: 9px;
                    background-color: #1B1B1B;
                    border-radius: 50%;

                    &:nth-child(2) {
                        background-color: $white;
                    }
                }
            }

            .info-img {
                position: relative;

                &-1 {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }

                &-2 {
                    position: absolute;
                    right: -41px;
                    bottom: -40px;
                }
            }
        }

        &--form {
            width: 50%;

            form {
                display: flex;
                gap: 20px;
                flex-direction: column;
                position: relative;

                input {
                    border: 1px solid #E0E0E0;
                    border-radius: 5px;
                    padding: 13px;
                    width: 100%;
                }

                textarea {
                    border: 1px solid #E0E0E0;
                    border-radius: 5px;
                    padding: 13px;
                    width: 100%;
                    height: 184px;
                }

                button {
                    border-radius: 0;
                }

                img {
                    position: absolute;
                    bottom: -150px;
                    right: 270px;
                }
            }
        }
    }
}

// Responsive

@include breakpoint-max(1200px) {
    .contact-section {
        .contact-area {
            gap: 40px;
        }
    }
}

@include breakpoint-max(991px) {
    .hero-section {
        &--area {
            &---content {
                width: 100%;

                .title {
                    width: 630px;
                }
            }

            &---image {
                display: none;
            }
        }
    }

    .service-section {
        &--image {
            .image-bg {
                right: 20px;
                transform: translateY(-460px);
            }
        }
    }

    .sale-section {
        &--area {
            .with-header {
                .section-header {
                    p {
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }

    .price-section {
        .image {
            right: 180px;
        }

        .image-bottom {
            display: none;
        }
    }

    .contact-section {
        .contact-area {
            flex-direction: column;

            &--info {
                width: 100%;
            }

            &--form {
                width: 100%;
            }
        }
    }
}

@include breakpoint-max(767px) {
    .hero-section {
        &--area {
            &---content {
                .sub-title {
                    font-size: 16px;
                    margin-bottom: 20px;
                }
    
                .title {
                    width: 405px;
                    font-size: 40px;
                    line-height: 48px;
                    margin-bottom: 15px;
                }

                p {
                    margin-bottom: 20px;
                    line-height: 22px;
                    font-size: 16px;
                }

                .hero-btn {
                    padding: 15px 20px;
                }
            }
        }
    }

    .service-section {
        .service-btn {
            margin-bottom: 50px;
        }

        &--image {
            .image-main {
                // left: 35px;
            }
        }

        .image {
            top: 340px;
            right: 50px;
        }
    }

    .sale-section {
        &--area {
            .with-header {
                .section-header {
                    p {
                        margin-top: 14px;
                        width: 100%;
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }
        }
    }

    .sell-section {
        .image {
            right: -245px;
        }

        &--area {
            flex-direction: column;
            margin-bottom: 25px;

            &---left {
                justify-content: space-between;
            }
        }
    }

    .contact-section {
        .contact-area {
            gap: 25px;

            &--info {
                padding: 40px;

                .title {
                    font-size: 24px;
                    line-height: 20px;
                }

                p {
                    line-height: 20px;
                    margin-bottom: 40px;
                }

                .info-list {
                    margin-bottom: 40px;

                    li {
                        i {
                            margin-right: 20px;
                        }

                        &:not(:last-child) {
                            margin-bottom: 15px;
                        }
                    }
                }

                .info-social {
                    gap: 18px;

                    i {
                        padding: 7px;
                    }
                }
            }

            &--form {

                form {
                    gap: 15px;

                    textarea {
                        height: 100px;
                    }

                    img {
                        display: none;
                    }
                }
            }
        }
    }
}

@include breakpoint-max (440px) {
    .hero-section--area---content .title {
        width: 100%;
    }

    .contact-section {
        .contact-area {
            gap: 20px;

            &--info {
                padding: 20px;

                .title {
                    font-size: 20px;
                }

                p {
                    font-size: 14px;
                    margin-bottom: 20px;
                }

                .info-list {
                    margin-bottom: 20px;

                    li {
                        i {
                            margin-right: 10px;
                        }

                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }
                }

                .info-social {
                    gap: 15px;
                }

                .info-img {
                    display: none;
                }
            }
        }
    }
}