@use '../abstracts/mixins' as *;

$primaryColor: #999999;
$secondaryColor: #01A368;
$black : #000000;
$white : #ffffff;
$bglight :  rgba(1, 163, 104, 0.06);
$darkGreen : #00432B ;
$cardblue : #E0E3ED ;
$cardpink : #FCE5D8;
$cardash : #e9e9e9 ;